# Dataset
dataset/
*.npy

# Trained model weights
*.pth
*.pt
*.ckpt

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environment
venv/
env/
.env/
.venv/

# macOS
.DS_Store

# IDE
.vscode/
.idea/
